/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css start */

* {
    box-sizing: border-box;
    /* font-family: SF Pro Text; */
}

header {
    background-color: #5A6DF6;
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;

}

.footer {

}

.tool-wrap {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
}

/* 下拉選單後側箭頭隨著選單內容調整位置 */
.month-select {
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    padding: 23px 0;
}

.month-select #select-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 16px;
    position: relative;
}

.month-select select {
    opacity: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    max-width: 100%;
    width: 100vw;
    box-shadow: none;
    -webkit-appearance: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: initial;
}

.month-select #select-text:after {
    content: " ";
    position: absolute;
    right: -28px;
    top: 12px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 8px;
    height: 8px;
}
/* End */

.card {
    background: #FFFFFF;
    box-shadow: 8px 16px 12px rgba(131, 145, 248, 0.05), 4px 8px 18px rgba(75, 93, 225, 0.1);
    border-radius: 16px;
    padding: 16px;
    width: 80vw;
    margin: auto;
}

.card-title {
    font-size: 16px;
    color: #5E5658;
}

.card-content {
    font-size: 12px;
    color: #5E5E5E;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body ul li {
    margin-right: 8px;
}

.card-body ul li:last-child {
    margin-right: auto;
}

.avator-wrap {
    display: flex;
}

.btn-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    
    position: relative;
    /* width: 85px; */
    height: 36px;
    
    background: #F5F3F7;
    border-radius: 18px;
    color: #6C62C0;
    font-weight: bold;
    font-size: 16px;
}

.btn-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    
    position: relative;
    /* width: 85px; */
    height: 36px;
    
    background: #6C62C0;
    border-radius: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.content {
    overflow: hidden;
    padding-bottom: 74px;
    /* padding-top: 141px; */
    /* padding-top: 136px; */
}

.scroll-wrap {
    overflow-x: auto;
}
.scroll-wrap::before {
    content: "";
    background-color: #5A6DF6;
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: -1;
}

.scroll {
    padding-bottom: 32px;
    width: fit-content;
    background: url(/img/Union.svg) repeat-x transparent;
    background-position-y: 15px;
    position: relative;
    overflow: visible;
}

.row {
    display: flex;
    width: fit-content;
    padding-left: 28px;
    padding-right: 28px;
}

.col {
    margin-left: 16px;
}

.col:first-child {
    margin-left: auto;
}

.navbar-bottom-wrap {
    padding: 16px 26px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #F3F4F6;
}


.navbar-bottom {
    width: 100%;
    justify-content: space-between;
}

ul {
    position: relative;
}

.navbar-bottom li:first-child::before {
    content: "";
    top: 34px;
    left: 38px;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #6C62C0;
}

.navbar-bottom li {
    display: flex;
}

.d-flx {
    display: flex;
    margin-bottom: 24px;
}

.d-blo {
    display: block;
}

.card-list-container {
    padding-left: 12px;
    padding-right: 16px;
    color: #5E5658;
    font-size: 32px;
    margin-bottom: 8px;
}

.card-list-container .d-flx:first-child  {
    color: #6C62C0;
    font-size: 32px;
    /* line-height: initial; */
}

.col-body {
    width: 100%;
}

.col-body .card {
    width: 100%;
}

.col-title {
    text-align: center;
}

.col-title span {
    color: #C8C8C8;
    font-size: 12px;
    line-height: initial;
}

.col-title p {
     font-weight: bold;
}

.card-list-wrap .card-title {
    color: #5E5658;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-list-wrap .card-content {
    color: #C8C8C8;
}

.card-list-wrap .card-body {
    padding: 4px 8px;
}

.card-list-wrap {
    margin-left: 9px;
    /* width: 100%; */
}

.fab-wrap {
    background-color: #FCBD2D;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    bottom: 80px;
    right: 16px;
    box-shadow: 0px 4px 8px 0px rgba(252, 189, 0, 0.4);
}

.fab {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 2px 9px 24px 0px rgba(252, 189, 0, 0.29);
}

.fab-wrap::before {
    content: "";
    top: 36.5px;
    left: 26.5px;
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #fff;
}

.fab-wrap::after {
    content: "";
    top: 26.5px;
    left: 36.5px;
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #fff;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-12 {
    margin-bottom: 12px;
}