/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css start */

* {
    box-sizing: border-box;
    /* font-family: SF Pro Text; */
    font-family: Microsoft JhengHei;
    line-height: initial;
}

header {
    /* background-color: #5A6DF6; */
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
    /* box-shadow: 0 2px 4px 0 rgb(90 109 246 / 60%); */
}

.Calendar-list {
    background-color: #5A6DF6;
}

.AddNewCalendar-warp {
    background: linear-gradient(180deg, #FDD330 0%, #FBB12B 100%);
    height: 100vh;
    box-sizing: content-box;
}

.AddNewCalendar-warp header {
    background: url(../img/Header-bg.svg);
}

.AddNewCalendar-warp > main {
    padding: 16px;
}

.footer {
    box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 10%);
}

.tool-wrap {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.tool-wrap-left, .tool-wrap-right {
    display: inline-flex;
}

.tool-wrap-white {
    background-color: #fff;
    display: flex;
    padding: 8px 24px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background: #F5F5FA;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
}

.tool-wrap p{
    width: 100%;
    display: inline-block;
    line-height: initial;
    color: #5E5658;
}

.tool-wrap-white h1 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #5E5658;
}

/* 下拉選單後側箭頭隨著選單內容調整位置 */
.month-select {
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    padding: 23px 0;
    background-color: #5A6DF6;
}

.month-select #select-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 16px;
    position: relative;
}

.month-select select {
    opacity: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    max-width: 100%;
    width: 100vw;
    box-shadow: none;
    -webkit-appearance: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: initial;
}

.month-select #select-text:after {
    content: " ";
    position: absolute;
    right: -28px;
    top: 12px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 8px;
    height: 8px;
}
/* End */

.card {
    background: #FFFFFF;
    box-shadow: 8px 16px 12px rgba(131, 145, 248, 0.05), 4px 8px 18px rgba(75, 93, 225, 0.1);
    border-radius: 16px;
    padding: 16px;
    width: 80vw;
    margin: auto;
}

.card-title {
    font-size: 16px;
    color: #5E5658;
}

.card-content {
    font-size: 12px;
    color: #5E5E5E;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body ul li {
    margin-right: 8px;
}

.card-body ul li:last-child {
    margin-right: auto;
}

.avator-wrap {
    display: flex;
}

.btn-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    
    position: relative;
    /* width: 85px; */
    height: 36px;
    
    background: #F5F3F7;
    border-radius: 18px;
    color: #6C62C0;
    font-weight: bold;
    font-size: 16px;
}

.btn-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    
    position: relative;
    /* width: 85px; */
    height: 36px;
    
    background: #6C62C0;
    border-radius: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.btn-gradient {
    width: fit-content;
    overflow: hidden;
    background: linear-gradient(270deg, #6D45E0 0%, #4F71F7 100%);
    border-radius: 8px;
    margin: auto;
    padding: 16px;
    width: 80vw;
    margin: auto;
}

.btn-gradient .card-body .title-left  {
    background-color: transparent;
    color: white;
}

.btn-gradient .card-body .title-right  {
    background-color: transparent;
    color: white;
}

.content {
    overflow: hidden;
    padding-bottom: 74px;
    /* padding-top: 141px; */
    /* padding-top: 136px; */
}

.scroll-wrap {
    overflow-x: auto;
}
.scroll-wrap::before {
    content: "";
    background-color: #5A6DF6;
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: -1;
}

.scroll {
    padding-bottom: 32px;
    width: fit-content;
    background: url(../img/Union.svg) repeat-x transparent;
    background-position-y: 15px;
    position: relative;
    overflow: visible;
}

.row {
    display: flex;
    width: fit-content;
    padding-left: 28px;
    padding-right: 28px;
}

.col {
    margin-left: 16px;
}

.col:first-child {
    margin-left: auto;
}

.navbar-bottom-wrap {
    padding: 16px 26px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #F3F4F6;
    box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 10%);
}


.navbar-bottom {
    width: 100%;
    justify-content: space-between;
}

ul {
    position: relative;
}

.navbar-bottom li:first-child::before {
    content: "";
    top: 34px;
    left: 38px;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #6C62C0;
}

.navbar-bottom li {
    display: flex;
}

.d-flx {
    display: flex;
    margin-bottom: 24px;
}

.d-blo {
    display: block;
}

.card-list-container {
    padding-left: 12px;
    padding-right: 16px;
    color: #5E5658;
    font-size: 32px;
    margin-bottom: 8px;
}

.card-list-container .d-flx:first-child  {
    color: #6C62C0;
    font-size: 32px;
    /* line-height: initial; */
}

.col-body {
    width: 100%;
}

.col-body .card {
    width: 100%;
}

.col-title {
    text-align: center;
}

.col-title span {
    color: #C8C8C8;
    font-size: 12px;
    line-height: initial;
}

.col-title p {
     font-weight: bold;
}

.card-list-wrap .card-title {
    color: #5E5658;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-list-wrap .card-content {
    color: #C8C8C8;
}

.card-list-wrap .card-body {
    padding: 4px 8px;
}

.card-list-wrap {
    margin-left: 9px;
    /* width: 100%; */
}

.fab-wrap {
    background-color: #FCBD2D;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    bottom: 80px;
    right: 16px;
    box-shadow: 0px 4px 8px 0px rgba(252, 189, 0, 0.4);
}

.fab {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 2px 9px 24px 0px rgba(252, 189, 0, 0.29);
}

.fab-wrap::before {
    content: "";
    top: 36.5px;
    left: 26.5px;
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #fff;
}

.fab-wrap::after {
    content: "";
    top: 26.5px;
    left: 36.5px;
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #fff;
}

.input-area {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
}

.input-area > input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: #5E5658;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 32px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}

.input-area > input:focus {
  border-color: #5A6DF6;
  border-width: 1px;
}

.input-area > input::placeholder {
    color: rgba(94, 86, 88, 0.1);
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
}

.card-wrap {
    border-radius: 16px;
    overflow: hidden;
    width: 80vw;
    margin: auto;
}

.card-wrap-list .card {
    box-shadow: none;
}

.card-wrap > .title {
    padding: 12px 16px;
}

.card-wrap > .title, .title-left, .title-right {
    display: flex;
    line-height: initial;
    justify-content: space-between;
    align-items: center;
    color: #5E5658;
    background-color: #fff;
}

.card-wrap > .title > .title-right {
    color: rgba(94, 86, 88, 0.3);
}

.card-wrap > .title > .title-right > span {
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
    direction:rtl
}

@media (min-width: 480px) {
    .card-wrap > .title > .title-right > span {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}
.card-wrap > .body {
    background: rgba(255, 255, 255, 0.8);
    padding: 0px 16px 16px;
}

.attach-wrap {
    display: flex;
    align-items: center;
    padding: 4px 16px 24px;
    opacity: 70%;
    color: #5E5658;
}

.noti-wrap {
    position: relative;
    width: 80vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);;
    border-radius: 16px;
}

.body > ul > li {
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-left > span {
    font-weight: bold;
    font-size: 12px;
    color: rgba(94, 86, 88, 0.7);
}

me

.li-left > p {
    font-weight: bold;
    font-size: 16px;
    color: #5E5658;
    margin-top: 4px;
}

@media (min-width: 480px) {
    .li-left {
        display: flex;
    }

    .li-left > p {
        margin-left: 16px;
    }
}

.li-right > p {
    font-weight: bold;
    font-size: 32px;
    color: #5E5658;
}

.toggle label {
    overflow-x: hidden;
    /* 解決點擊toggle時，會有滾動條的問題 */
    -webkit-tap-highlight-color: transparent;
    /* 解決去除點擊瞬間有塊黑底的問題 */
}

.win-switch {
    display: none;
    position: relative;
}
  
.win-switch + label .small {
    font-size: 0.8em;
    color: #999;
    line-height: 1.5em;
    display:block;
}

.win-switch + label {
    display: block;
    text-align: left !important; /* To keep the switch from getting misaligned */
}

.win-switch + label span.sw {
    display:inline-block;
    width: 41px;
    height: 20px;
    /* float: right; */
    border-radius: 11px;
    margin-left: 8px;
    background: rgba(120, 120, 128, 0.16);
    border-radius: 10px;;
    /* border: 2px solid #333; */
    transition: all ease 300ms;
}

.switchList li:last-child{
    border-bottom: 1px solid transparent;
}

.win-switch + label span.sw:before {
    content:'';
    position:absolute;
    background: #AAAAAF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    margin-top: 2px;
    margin-left: 2px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    transition: all ease 300ms;
}

.win-switch:checked + label span.sw {
    background: #6365F2;
    border-radius: 10px;
}

.win-switch:checked + label span:before {
    margin-left: 23px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    border: 0.5px solid rgba(0, 0, 0, 0);
}

.calendar-container {
    margin-top: 40px;
    margin-left:  32px;
    margin-right:  32px;
    /* background-color: #F3F4F6; */
    min-height: calc(100vh - 100px);
    display: flex;
    flex-flow: column;
    /* 要讓整塊“data-column”撐滿剩餘空間，首先要在父層使用"flex" & "flex-flow: column" */
}

.calendar-container .week-head {
    display: flex;
    justify-content: space-around;
}

.week-head li {
    padding: 8px 0px;
    font-weight: bold;
    font-size: 14px;
    width: calc(100% / 7);
    text-align: center;
}

.data-column{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* 預設flex是不折行，會全部塞在一排，所以需要wrap，讓他折行 */
    flex-grow: 1;
    /* 待父層下完"flex" % "flex-flow"之後，還要在該區塊使用flex-grow:1，告訴程式要自動將空間撐滿 */
}

.data-column .data-row {
    display: flex;
    width: 100%;
}

.data-row .item {
    width: calc(100% / 7);
    text-align: center;
    border-top: 1px solid #E7E7E7;
    padding-top: 8px;
    position: relative;
}

.item-disable {
    color: rgba(0, 0, 0, 0.3);
}

.item-active {
    position: relative;
    z-index: 10;
    color: #fff;
}

ul li h2 {
    position: relative;
    z-index: 10;
}

.item-active::after {
    background: linear-gradient(180deg, #4F71F7 0%, #6D45E0 100%);
    position: absolute;
    content: "";
    left: -2.63%;
    right: -2.63%;
    top: -2.86%;
    bottom: -2.86%;
    z-index: 0;
    border-radius: 10px;
}

.f-o-lighter {
    opacity: 30%;
}

.single-activity {
    padding: 2px 4px;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-align: left;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    z-index: 100;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.last-day{
    background-color: rgba(0, 0, 0, 0.1);
}

.first-day {
    box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
}

.future-day {
    background: rgba(255, 255, 255, 0.95);
}

.is-second {
    top: 68px;
    position: absolute;
}

.is-3day {
    z-index: 100;
    width: 300%;
}

.is-6day {
    z-index: 100;
    width: 600%;
}

.m-b-xs {
    margin-bottom: 8px;
}

.m-b-s {
    margin-bottom: 12px;
}

.m-b-m {
    margin-bottom: 24px;
}

.m-b-l {
    margin-bottom: 32px;
}

.m-r-xs {
    margin-right: 8px;
}
