/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-size: 14px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d-flex-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.d-flex.j-content-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.d-flex.j-content-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.d-flex.a-items-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d-flex.d-flex-direct {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-s {
  padding: 4px;
}
.p-m {
  padding: 8px;
}
.p-l {
  padding: 16px;
}
.p-xl {
  padding: 24px;
}
.p-2xl {
  padding: 32px;
}
.p-3xl {
  padding: 48px;
}

.m-s {
  margin: 4px;
}
.m-m {
  margin: 8px;
}
.m-l {
  margin: 16px;
}
.m-t-s {
  margin-top: 4px;
}
.m-t-m {
  margin-top: 8px;
}
.m-t-l {
  margin-top: 16px;
}
.m-t-xl {
  margin-top: 24px;
}
.m-t-2xl {
  margin-top: 32px;
}
.m-t-3xl {
  margin-top: 48px;
}
.m-b-s {
  margin-bottom: 4px;
}
.m-b-m {
  margin-bottom: 8px;
}
.m-b-l {
  margin-bottom: 16px;
}
.m-b-xl {
  margin-bottom: 24px;
}
.m-b-2xl {
  margin-bottom: 32px;
}
.m-b-3xl {
  margin-bottom: 48px;
}
.m-r-s {
  margin-right: 4px;
}
.m-r-m {
  margin-right: 8px;
}
.m-r-l {
  margin-right: 16px;
}
.m-r-xl {
  margin-right: 24px;
}
.m-r-2xl {
  margin-right: 32px;
}
.m-r-3xl {
  margin-right: 48px;
}

.is-fix {
  position: fixed;
}
.is-rt {
  right: 0;
}
.is-op {
  display: block;
}

.u-sidebar_header {
  background-color: white;
  width: 100%;
  z-index: 100;
  padding: 10px 20px 16px;
  font-size: 16px;
}
.u-sidebar_header figure {
  display: inline-block;
}
.u-sidebar_header .nav {
  display: inline-block;
}
.u-sidebar_body .u-sidebar_content .link-cell a {
  width: 50%;
}
.u-sidebar_body .u-sidebar_content .link-cell a:not(:first-child, :nth-child(2)) {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}
.u-sidebar_body .u-sidebar_content .link-cell a li {
  padding: 24px 0;
  text-align: center;
}
.u-sidebar_body .u-sidebar_content .container .switch .def {
  color: rgba(0, 0, 0, 0.4);
  padding-right: 18px;
}
.u-sidebar_body .u-sidebar_content .container .switch .def:not(:nth-child(2)) {
  border-right: 1px solid rgba(0, 0, 0, 0.16);
}
.u-sidebar_body .u-sidebar_content .container .switch .def:not(:nth-child(1)) {
  margin-left: 18px;
}
.u-sidebar_body .u-sidebar_content .container .switch .active {
  color: inherit;
}
.u-sidebar_body .u-sidebar_content .container input {
  background: #E9E9E9;
  padding: 15px 57px;
  border: inherit;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.u-sidebar_body .u-sidebar_content .topic-container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 480px) {
  .u-sidebar_body .u-sidebar_content .topic-container-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.u-sidebar_body .u-sidebar_content .topic-container {
  width: 33%;
}
@media screen and (max-width: 480px) {
  .u-sidebar_body .u-sidebar_content .topic-container {
    width: 100%;
  }
}
.u-sidebar_body .u-sidebar_content .topic-container .title h3 {
  font-family: Source Han Serif TC;
  font-style: normal;
  font-weight: bold;
  position: relative;
  font-size: 20px;
}
.u-sidebar_body .u-sidebar_content .topic-container .title h3::before {
  content: "";
  bottom: 0;
  right: 0;
  width: calc(100% - 40px - 16px);
  border-bottom: 1px solid #000;
  position: absolute;
}
.u-sidebar_body .u-sidebar_content .topic-container:nth-of-type(3) .title h3 {
  font-family: Source Han Serif TC;
  font-style: normal;
  font-weight: bold;
  position: relative;
  font-size: 20px;
}
.u-sidebar_body .u-sidebar_content .topic-container:nth-of-type(3) .title h3::before {
  content: "";
  bottom: 0;
  right: 0;
  width: calc(100% - 80px - 16px);
  border-bottom: 1px solid #000;
  position: absolute;
}

.u-sidebar {
  display: block;
}