* {
    box-sizing: content-box;
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600,700);

body {
    font-size: 14px;
}

.d-flex {
    display: flex;

    &-w {
        flex-wrap: wrap;
    }

    &.j-content- {
        &e {
            justify-content: flex-end;
        }
    
        &sb {
            justify-content: space-between;
        
        }
    }

    &.a-items- {
        &c {
            align-items: center;
        }
    }

    &.d-flex-direct {
        flex-direction: column;
    }
}

.p- {
    &s {
        padding: 4px;
    }
    
    &m {
        padding: 8px;
    }

    &l {
        padding: 16px;
    }
    
    &xl {
        padding: 24px;
    }

    &2xl {
        padding: 32px;
    }

    &3xl {
        padding: 48px;
    }
}

.m- {
    &s {
        margin: 4px;
    }

    &m {
        margin: 8px;
    }

    &l {
        margin: 16px;
    }

    &t- {
        &s {
            margin-top: 4px;
        }
    
        &m {
            margin-top: 8px;
        }
    
        &l {
            margin-top: 16px;
        }   

        &xl {
            margin-top: 24px;
        }  
        
        &2xl {
            margin-top: 32px;
        }  

        &3xl {
            margin-top: 48px;
        }  
    }

    &b- {
        &s {
            margin-bottom: 4px;
        }
    
        &m {
            margin-bottom: 8px;
        }
    
        &l {
            margin-bottom: 16px;
        }   

        &xl {
            margin-bottom: 24px;
        }  
        
        &2xl {
            margin-bottom: 32px;
        }  

        &3xl {
            margin-bottom: 48px;
        }  
    }

    &r- {
        &s {
            margin-right: 4px;
        }
    
        &m {
            margin-right: 8px;
        }
    
        &l {
            margin-right: 16px;
        }   

        &xl {
            margin-right: 24px;
        }  
        
        &2xl {
            margin-right: 32px;
        }  

        &3xl {
            margin-right: 48px;
        }  
    }
}

.is- {
    &fix {
        position: fixed;
    }

    &rt {
        right: 0;
    }

    &op {
        display: block;
    }
}

.u-sidebar_header {
    background-color: white;
    width: 100%;
    z-index: 100;
    padding: 10px 20px 16px;
    font-size: 16px;

    & figure {
        display: inline-block;
    }

    & .nav {
        display: inline-block;
    }

    & .toggle-btn {
        // padding: 8px;
    }
}

.u-sidebar_body {
    & .u-sidebar_content {
        & .link-cell {
            & a {
                width: 50%;

                &:not(:first-child, :nth-child(2)) {
                    border-top: 1px solid rgba(0, 0, 0, 0.16);
                }

                & li {
                    padding: 24px 0;
                    text-align: center;
                }
            }
        }

        & .container {
            .switch {
                .def {
                    color: rgba(0, 0, 0, 0.4);
                    padding-right: 18px;

                    &:not(:nth-child(2)) {
                        border-right: 1px solid rgba(0, 0, 0, 0.16);
                    }

                    &:not(:nth-child(1)) {
                        margin-left: 18px;
                    }
                }
                
                .active {
                    color: inherit;
                }
            }

            input {
                background: #E9E9E9;
                padding: 15px 57px;
                border: inherit;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }

        & .topic-container-wrap {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 480px) {
                flex-direction: row;
            }
        }

        & .topic-container {
            width: 33%;

            @media screen and (max-width: 480px) {
                width: 100%;
            }

            & .title {
                h3 {
                    font-family: Source Han Serif TC;
                    font-style: normal;
                    font-weight: bold;
                    position: relative;
                    font-size: 20px;
                    
                    &::before {
                        content: '';
                        bottom: 0;
                        right: 0;
                        width: calc(100% - 40px - 16px);
                        border-bottom: 1px solid #000;
                        position: absolute;
                    }
                }
            }

            &:nth-of-type(3) {
                & .title {
                    h3 {
                        font-family: Source Han Serif TC;
                        font-style: normal;
                        font-weight: bold;
                        position: relative;
                        font-size: 20px;
                        
                        &::before {
                            content: '';
                            bottom: 0;
                            right: 0;
                            width: calc(100% - 80px - 16px);
                            border-bottom: 1px solid #000;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

.u-sidebar {
    display: block;
}