.container {
    max-width: 1024px;
    margin: 0px 46px;
    
    @media screen and (min-height: 1024px) {
        position: relative;
        margin: 0 auto;
    }

    & .top-nav {
        display: flex;
        position: fixed;
        top: 0;
        min-height: 82px;
        width: 100vw;
        z-index: 10;
        margin: 0 -46px;
        background-color: #f6f6f6;

        @media screen and (min-height: 1024px) {
            width: auto;
            margin: 0;
            // background-color: transparent;
            top: 40px;
        }
    }
}