/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 24px;
  position: fixed;
  z-index: 10;
}

.fz-s {
  font-size: 14px;
}
.fz-m {
  font-size: 16px;
}
.fz-l {
  font-size: 18px;
}
.fz-pri {
  color: #3A3F52;
}
.fz-sec {
  color: #0074FF;
}
.fz-thi {
  color: #06F3F9;
}
.fz-w {
  color: white;
}
.fz-b {
  color: #3A3F52;
}
.fz-b-30 {
  color: #3A3F52;
  opacity: 30%;
}

section figure img {
  width: 100%;
}
section.hero {
  background-color: #06F3F9;
  font-size: 3.25rem;
  font-weight: bold;
  padding: 24px;
  color: #173E6F;
  line-height: 1.1;
}
section.hero .pic-1 {
  width: 100%;
  height: 610px;
  background-image: url("../img/hero-image.svg");
  background-position: 50% 160px;
  background-repeat: no-repeat;
  background-size: 80%;
  max-width: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section .pic-960 {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
section.cont-1 {
  background-color: white;
  font-size: 1.5rem;
  padding: 90px 24px;
  line-height: 33.6px;
}
section.cont-2 {
  font-size: 1.5rem;
  padding: 90px 24px;
  line-height: 33.6px;
}
section.cont-2 p:nth-child(2) {
  margin-top: 30px;
}
section.cont-3 {
  font-size: 1.75rem;
  padding: 90px 24px;
  line-height: 33.6px;
  text-align: center;
}
section.cont-3 p:nth-child(2) {
  margin-top: 14px;
  line-height: 22.4px;
}
section.cont-4 {
  font-size: 2.25rem;
  padding: 90px 24px;
  line-height: 33.6px;
  text-align: center;
}
section.cont-4 p:nth-child(2) {
  margin-top: 30px;
  line-height: 22.4px;
}

.bg-color-1 {
  background-color: #06F3F9;
}
.bg-color-2 {
  background-color: #183E6F;
}
.bg-color-3 {
  background-color: #01ffda;
}
.bg-color-4 {
  background-color: #3bcbfd;
}

.btn.is-pri {
  padding: 12px 45px;
  background-color: #F5FB6B;
  border-radius: 40px;
  line-height: 21px;
}