/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fz-s {
  font-size: 14px;
}
.fz-m {
  font-size: 16px;
}
.fz-l {
  font-size: 18px;
}
.fz-pri {
  color: #3A3F52;
}
.fz-sec {
  color: #0074FF;
}
.fz-thi {
  color: #06F3F9;
}
.fz-w {
  color: white;
}
.fz-b {
  color: #3A3F52;
}
.fz-b-30 {
  color: #3A3F52;
  opacity: 30%;
}

.m-r-m {
  margin-right: 16px;
}
.m-r-l {
  margin-right: 24px;
}

.d-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d-flx-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d-flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-color-1 {
  background-color: #06F3F9;
}
.bg-color-2 {
  background-color: #183E6F;
}
.bg-color-3 {
  background-color: #01ffda;
}
.bg-color-4 {
  background-color: #3bcbfd;
}
.bg-color-5 {
  background-color: #183E6F;
}

.btn.is-pri {
  padding: 12px 45px;
  background-color: #F5FB6B;
  border-radius: 40px;
  line-height: 21px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 24px;
  position: fixed;
  z-index: 10;
}

section figure img {
  width: 100%;
}
section.hero {
  height: 610px;
  background-color: #06F3F9;
  font-size: 3.25rem;
  font-weight: bold;
  padding: 24px;
  color: #173E6F;
  line-height: 1.1;
}
section.hero .pic-1 {
  width: 100%;
  height: inherit;
  line-height: initial;
  background-image: url("../img/hero-image.svg");
  background-position: 50% 140px;
  background-repeat: no-repeat;
  background-size: 80%;
  max-width: 642px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) {
  section.hero .pic-1 {
    background-position: 50% 180px;
  }
}
section .pic-960 {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
section .cont-wrap {
  max-width: 1024px;
  margin: auto;
}
section.cont-1 {
  background-color: white;
  font-size: 1.5rem;
  padding: 90px 24px;
  line-height: 33.6px;
}
section.cont-1.pic-2 {
  width: 100%;
  height: inherit;
  line-height: initial;
  background-image: url("../img/City.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1024px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section.cont-2 {
  font-size: 1.5rem;
  padding: 90px 24px;
  line-height: 33.6px;
}
section.cont-2 p:nth-child(2) {
  margin-top: 30px;
}
section.cont-3 {
  font-size: 1.75rem;
  padding: 90px 24px;
  line-height: 33.6px;
  text-align: center;
  max-width: 1920px;
  margin: auto;
}
section.cont-3 p:nth-child(2) {
  margin-top: 14px;
  line-height: 22.4px;
}
section.cont-4 {
  font-size: 2.25rem;
  padding: 90px 24px;
  line-height: 42.1px;
  text-align: center;
}
section.cont-4 p:nth-child(2) {
  margin-top: 30px;
  line-height: 22.4px;
}
@media screen and (min-width: 768px) {
  section.col-2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1920px;
    margin: auto;
  }
  section.col-2 section {
    width: 50%;
  }
  section.col-2:nth-of-type(2n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

footer {
  width: 100%;
}
footer .footer-wrap {
  max-width: 1024px;
  padding: 98px 24px 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
footer .footer-wrap .about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .footer-wrap .about {
    display: block;
  }
}
footer .footer-wrap .about .download {
  width: 296px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  footer .footer-wrap .about .download {
    margin: unset;
  }
}
footer .footer-wrap .about .link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
footer .footer-wrap .about .link span {
  display: inline-block;
}
footer .footer-wrap .about .link span:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  footer .footer-wrap .about .link span {
    margin-right: 24px;
  }
  footer .footer-wrap .about .link span:last-child {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-wrap .about .link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
footer .footer-wrap .about .social {
  margin-top: 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-wrap .about .social figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-wrap .about .social img {
  display: inline-block;
}
footer .footer-wrap .about .social img:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  footer .footer-wrap .about .social {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-wrap .about .social {
    border-left: none;
  }
}
footer .footer-wrap .about .social .language {
  text-align: center;
  margin-top: 40px;
  line-height: 27px;
}
footer .footer-wrap .about .social .language span:not(:last-child) {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid white;
}
footer .footer-wrap .about .social .Logo {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  footer .footer-wrap .about .social {
    padding-left: 29px;
  }
  footer .footer-wrap .about .social .Logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: unset;
    margin-bottom: 12px;
  }
  footer .footer-wrap .about .social .media {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-wrap .about .social .language {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 36px;
  }
}
footer .footer-wrap .privacy {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  line-height: normal;
  margin-top: 48px;
}
footer .footer-wrap .privacy span:not(:last-child) {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
footer .footer-wrap .privacy .right {
  margin-top: 16px;
}