/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 0.875rem;
  background-color: #999;
}

button {
  cursor: pointer;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1024px;
  margin: 0px 46px;
}

.col-half-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-half-list li {
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.col-half-list li a {
  display: block;
  text-align: center;
  padding: 24px 0;
}
.col-half-list li:nth-last-child(2), .col-half-list li:last-child {
  border-bottom: 0;
}

a:hover {
  color: #45B7C4 !important;
}

.p-l-m {
  padding-left: 20px;
}
.p-r-m {
  padding-right: 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 82px;
  -webkit-transition: ease-in-out 0.5s all;
  transition: ease-in-out 0.5s all;
}
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: 136px;
    background-color: #f6f6f6;
  }
}
header.is-open {
  background-color: #f6f6f6;
  height: 100vh;
  overflow-y: scroll;
}
@media screen and (min-width: 1024px) {
  header.is-open {
    height: 615px;
  }
}
header .desktop-header {
  max-width: 1024px;
  margin-right: 46px;
  margin-left: 46px;
}
@media screen and (min-width: 1024px) {
  header .desktop-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 136px;
  }
}
@media screen and (min-width: 1024px) {
  header .desktop-header.container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  header .desktop-header.container {
    margin: 0 auto;
  }
}
header .desktop-header .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  min-height: 82px;
  width: 100vw;
  z-index: 10;
  margin-left: -46px;
  margin-right: -46px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  header .desktop-header .top-nav {
    width: auto;
    margin: 0;
    background-color: transparent;
    top: 40px;
  }
}
header .desktop-header .top-nav .main-logo {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  header .desktop-header .top-nav .top-nav, header .desktop-header .top-nav .main-logo {
    margin-right: 60px;
    margin-top: 0;
  }
}
header .desktop-header .top-nav .top-main-list {
  margin-left: 24px;
  margin-top: 20px;
}
header .desktop-header .top-nav .top-main-list li {
  margin-right: 24px;
}
header .desktop-header .top-nav .nav-left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  header .desktop-header .top-nav .top-main-list, header .desktop-header .top-nav .nav-left-item {
    margin-top: 0;
  }
}
header .desktop-header .top-nav .notice-btn {
  width: 36px;
  height: 36px;
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  header .desktop-header .top-nav .notice-btn {
    position: absolute;
    right: -548px;
    margin-top: 10px;
  }
}
header .desktop-header .top-nav .toggle-menu {
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
  margin-left: 16px;
  margin-top: 14px;
  margin-right: 20px;
  z-index: 1000;
  padding: 0;
  border: 0;
  background-color: transparent;
}
header .desktop-header .top-nav .toggle-menu i {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #222;
  left: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 20px;
}
header .desktop-header .top-nav .toggle-menu i:first-child {
  top: 10px;
}
header .desktop-header .top-nav .toggle-menu i:nth-child(2) {
  top: 18px;
}
header .desktop-header .top-nav .toggle-menu i:nth-child(3) {
  top: 26px;
}
header .desktop-header .top-nav .toggle-menu.is-active i:first-child {
  top: 18px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
header .desktop-header .top-nav .toggle-menu.is-active i:nth-child(2) {
  background-color: transparent;
}
header .desktop-header .top-nav .toggle-menu.is-active i:last-child {
  top: 18px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
@media screen and (min-width: 1024px) {
  header .desktop-header .top-nav .top-nav, header .desktop-header .top-nav .toggle-menu {
    position: absolute;
    top: 24px;
    left: 150px;
    margin: 0;
    z-index: 10;
  }
}
header .desktop-header .fuction-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
header .desktop-header .fuction-list li:first-child {
  position: relative;
  padding-right: 18px;
}
header .desktop-header .fuction-list li:first-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  right: 0;
  top: 5px;
}
header .desktop-header .fuction-list li:nth-child(2) {
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}
header .desktop-header .fuction-list li:last-child {
  width: 24px;
}
header .desktop-header .fuction-list li:last-child a {
  height: 24px;
}
header .desktop-header .fuction-list li a {
  display: block;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}
header .desktop-header .fuction-list .is-active {
  color: #222 !important;
}
header .desktop-header .fixed-top-margin {
  margin-top: 82px;
}
header .desktop-header .form-search input {
  width: calc(100% - 30px);
  display: block;
  margin: 0;
  padding: 15px;
  text-align: center;
  background-color: #e9e9e9;
  border: 0;
}
header .desktop-header .main-nav {
  margin-bottom: 48px;
}
@media screen and (min-width: 1024px) {
  header .desktop-header .main-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 0;
    position: absolute;
    left: 212px;
    top: 74px;
    z-index: 10;
  }
  header .desktop-header .main-nav li {
    border-bottom: 0;
    margin-right: 24px;
  }
  header .desktop-header .main-nav li a {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  header .desktop-header .fuction-list {
    margin-top: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 0;
  }
  header .desktop-header .fuction-list li:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .desktop-header .fuction-list li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  header .desktop-header .fuction-list li:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  header .desktop-header .desktop-header, header .desktop-header .form-search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    margin-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 248px;
  }
}
header .modal-menu {
  visibility: hidden;
}
@media screen and (min-width: 1024px) {
  header .modal-menu {
    margin-top: 108px;
    overflow: hidden;
    -webkit-transition: unset;
    transition: unset;
  }
}
@media screen and (min-width: 1024px) {
  header .modal-menu .container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  header .modal-menu .container {
    margin: 0 auto;
  }
}
header .modal-menu .container .columns {
  margin: 0 -20px;
}
@media screen and (min-width: 1024px) {
  header .modal-menu .container .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .modal-menu .container .columns .topic-area {
  margin-bottom: 48px;
}
header .modal-menu .container .columns .topic-area .is-title {
  font-family: serif;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
header .modal-menu .container .columns .topic-area .is-title::after {
  content: "";
  height: 1px;
  margin-left: 16px;
  margin-top: auto;
  background-color: #000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header .modal-menu .container .columns .topic-area .btn-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 8px;
}
header .modal-menu .container .columns .topic-area .btn-action img {
  margin-left: 8px;
}
header .modal-menu .container .columns .col {
  display: block;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 20px;
}

header .form-search, header .fuction-list, header .main-nav {
  visibility: hidden;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  -webkit-transform: rotateY(-100vh);
          transform: rotateY(-100vh);
}
@media screen and (min-width: 1024px) {
  header .form-search, header .fuction-list, header .main-nav {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header.is-open .main-logo, header.is-open .top-main-list {
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  header.is-open .main-logo, header.is-open .top-main-list {
    opacity: 100;
  }
}

header.is-open .form-search, header.is-open .fuction-list, header.is-open .main-nav, header.is-open .modal-menu {
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
}

main {
  background-color: #e5e5e5;
}
main article {
  padding-top: 176px;
  margin: 0 auto;
  max-width: 1430px;
}
main article .article-header {
  text-align: center;
  max-width: 560px;
  margin: auto;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  main article .article-header {
    padding-left: 0;
    padding-right: 0;
  }
}
main article .article-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
main article .article-header ul li {
  border-top: #818181 2px solid;
  margin-right: 32px;
  padding-top: 4px;
}
main article .article-header ul li:last-child {
  margin-right: 0;
}
main article .article-header h1 {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: serif;
  margin-bottom: 24px;
  line-height: 33px;
}
main article .article-header span {
  color: #818181;
  line-height: 21px;
}
main article .ParagraphMainImage {
  text-align: center;
  margin-bottom: 48px;
}
main article .ParagraphMainImage picture {
  margin-bottom: 16px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main article .ParagraphMainImage picture img {
  width: 100%;
}
main article .ParagraphMainImage figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.75rem;
  color: #818181;
  padding-left: 18px;
  line-height: 16.8px;
}
@media screen and (min-width: 1024px) {
  main article .ParagraphMainImage figcaption {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}
main article .article-author {
  color: #818181;
  margin-bottom: 16px;
}
main article .article-author .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding-bottom: 32px;
}
main article .article-author .avatar picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main article .article-author .avatar picture img {
  max-width: 64px;
  margin-right: 76px;
}
main article .keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
main article .keyword li {
  background-color: white;
  color: #818181;
  display: inline-block;
  padding: 0 12px;
  line-height: 16.8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
main article .main-content {
  font-size: 0.9rem;
  line-height: 30px;
  color: #222;
}
main article .main-content .paragraph {
  margin-bottom: 20px;
}
main article .main-content .paragraph p {
  margin-bottom: 15px;
}
main article .main-content .paragraph p:last-child {
  margin-bottom: 0;
}
main article .main-content .paragraph h2 {
  text-align: center;
  font-size: 1.57rem;
  font-family: serif;
  margin-bottom: 20px;
}
main article .promo-member {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/icon/img.svg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right 10px;
}
main article .promo-member h2 {
  font-size: 1.57rem;
  font-family: serif;
  margin-bottom: 20px;
}
main article .promo-member button {
  color: white;
  border: 0;
  background-color: #45B7C4;
  padding: 11px 24px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  line-height: 16.8px;
}
main article .promo-member button span {
  margin-right: 7px;
}
main article .name-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  position: relative;
  padding-bottom: 8px;
}
main article .name-select h3 {
  color: #222;
  font-size: 1.14rem;
  font-weight: bold;
  position: relative;
  font-family: serif;
  line-height: 22px;
}
main article .name-select h3::after {
  content: "";
  position: absolute;
  right: -23px;
  top: 4px;
  display: inline-block;
  border: black 2px solid;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 8px;
  height: 8px;
}
main article .name-select select {
  opacity: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  max-width: 100%;
  width: 100vw;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: initial;
}