//mixin 教學，類似media的使用方式，可以參考學習
//https://5xruby.tw/posts/play-sass-mixin-and-include

* {
    box-sizing: border-box;
}

//Element Start

.fz {
    &-s {
        font-size: 14px;
    }

    &-m {
        font-size: 16px;
    }

    &-l {
        font-size: 18px;
    }

    &-pri {
        color: #3A3F52;
    }

    &-sec {
        color: #0074FF;
    }

    &-thi {
        color: #06F3F9;
    }

    &-w {
        color: white;
    }

    &-b {
        color: #3A3F52;

        &-30 {
            color: #3A3F52;
            opacity: 30%;
        }
    }
}

.m-r- {
    &m {
        margin-right: 16px;
    }

    &l {
        margin-right: 24px;
    }
}

.d-flx {
    display: flex;

    &-c {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-sb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.bg-color {
    &-1 {
        background-color: #06F3F9;
    }

    &-2 {
        background-color: #183E6F;
    }

    &-3 {
        background-color: #01ffda;
    }

    &-4 {
        background-color: #3bcbfd;
    }

    &-5 {
        background-color: #183E6F;
    }
}

.btn {
    &.is-pri {
        padding: 12px 45px;
        background-color: #F5FB6B;
        border-radius: 40px;
        line-height: 21px;
    }
}

//Element End


//Modal 

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 18px 24px;

    .header-container {
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
}

section {
    figure {
        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &.hero {
        height: 610px;
        background-color: #06F3F9;
        font-size: 3.25rem;
        font-weight: bold;
        padding: 24px;
        color: #173E6F;
        line-height: 1.1;
    
        & .pic-1 {
            width: 100%;
            height: inherit;
            line-height: initial;
            background-image: url("../img/hero-image.svg");
            background-position: 50% 140px;
            background-repeat: no-repeat;
            background-size: 80%;
            max-width: 642px;
            margin: auto;
            flex-direction: column;
            align-items: flex-start;

            @media screen and (min-width: 768px) {
                background-position: 50% 180px;
            }
        }
    }

    & .pic-960 {
        width: 100%;
        max-width: 960px;
        max-height: 625px;
        display: flex;
        margin: auto;
    }

    .cont-wrap {
        max-width: 1024px;
        margin: auto;
    }

    &.cont-1 {
        background-color: white;
        font-size: 1.5rem;
        padding: 90px 24px;
        line-height: 33.6px;

        &.pic-2 {
            width: 100%;
            height: inherit;
            line-height: initial;
            background-image: url("../img/City.svg");
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100%;
            max-width: 1024px;
            margin: auto;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &.cont-2 {
        font-size: 1.5rem;
        padding: 90px 24px;
        line-height: 33.6px;

        & p:nth-child(2) {
            margin-top: 30px;
        }
    }

    &.cont-3 {
        font-size: 1.75rem;
        padding: 90px 24px;
        line-height: 33.6px;
        text-align: center;
        max-width: 1920px;
        margin: auto;
        
        & p:nth-child(2) {
            margin-top: 14px;
            line-height: 22.4px;
        }

        @media screen and (min-width: 768px) {
            font-size: 3.25rem;
            line-height: initial;
            padding: 90px 72px;

            & p:nth-child(2) {
                margin-top: 24px;
                line-height: initial;
                font-size: 24px;
            }
        }
    }

    &.cont-4 {
        font-size: 2.25rem;
        padding: 90px 24px;
        line-height: 42.1px;
        text-align: center;
        
        & p:nth-child(2) {
            margin-top: 30px;
            line-height: 22.4px;
        }
    }

    @media screen and (min-width: 1920px) {
        &.col-2 {
            width: 100%;
            display: flex;
            align-items: center;
            max-width: 1920px;
            margin: auto;
            
            section {
                width: 50%;
            }

            &:nth-of-type(2n+1) {
                flex-direction: row-reverse;
            }
        }
    }
}

footer {
    width: 100%;
    
    .footer-wrap {
        max-width: 1024px;
        padding: 98px 24px 48px;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

        .about {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                display: block;
            }

            .download {
                width: 296px;
                margin: auto;
    
                @media screen and (min-width: 1920px) {
                    margin: unset;
                }
            }
        
            .link {
                flex-direction: column;
                align-items: center;
                margin-top: 60px;
            
                span {
                    display: inline-block;
        
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
    
                    @media screen and (min-width: 1920px) {
                        margin-right: 24px;
                        &:last-child {
                            margin-bottom: 12px;
                        }
                    }
                }
    
                @media screen and (min-width: 1920px) {
                    flex-direction: row;
                }
            }
    
            .social {
                margin-top: 40px;
                border-left: 1px solid rgb(255, 255, 255, 0.3);
                flex-direction: column;
    
                figure {
                    display: flex;
                    justify-content: center;
                }
    
                img {
                    display: inline-block;
        
                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                }
    
                @media screen and (min-width: 1920px) {
                    margin-top: 0px;
                }

                @media screen and (max-width: 768px) {
                    border-left: none;
                }
    
                .language {
                    text-align: center;
                    margin-top: 40px;
                    line-height: 27px;
    
                    span {
                        &:not(:last-child) {
                            margin-right: 16px;
                            padding-right: 16px;
                            border-right: 1px solid white;  
                        }
                    }
                }
    
                .Logo {
                    margin-top: 40px;
                }

                @media screen and (min-width: 1920px) {
                    padding-left: 29px;
                    
                    .Logo {
                        order: 1;
                        margin-top: unset;
                        margin-bottom: 12px;
                    }

                    .media {
                        order: 2;
                    }

                    .language {
                        order: 2;
                        margin-top: 36px;
                    }
                }
            }
        }      

        .privacy {
            text-align: center;
            color: rgb(255, 255, 255, 0.3);
            line-height: normal;
            margin-top: 48px;
            
            span {
                &:not(:last-child) {
                    margin-right: 16px;
                    padding-right: 16px;
                    border-right: 1px solid rgb(255, 255, 255, 0.3);
                }
            }

            .right {
                margin-top: 16px;
            }
        }
    }
}

//Modal End


// .fz-rwd {
//     &-s {
//         font-size: 14px;
//     }

//     &-m {
//         font-size: 16px;
//     }

//     &-l {
//         font-size: 18px;
//     }

//     @media screen and (max-width: 768px) {
//         font-size: 1.2rem;
//         // 768開始吃這個
//     }

//     @media screen and (min-width: 960px) {
//         font-size: 1.4rem;
//         // 960開始吃這個
//     }
// }

