* {
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    position: fixed;
    z-index: 10;
}

.fz {
    &-s {
        font-size: 14px;
    }

    &-m {
        font-size: 16px;
    }

    &-l {
        font-size: 18px;
    }

    &-pri {
        color: #3A3F52;
    }

    &-sec {
        color: #0074FF;
    }

    &-thi {
        color: #06F3F9;
    }

    &-w {
        color: white;
    }

    &-b {
        color: #3A3F52;

        &-30 {
            color: #3A3F52;
            opacity: 30%;
        }
    }


}

section {
    figure {
        img {
            width: 100%;
        }
    }

    &.hero {
        background-color: #06F3F9;
        font-size: 3.25rem;
        font-weight: bold;
        padding: 24px;
        color: #173E6F;
        line-height: 1.1;
    
        & .pic-1 {
            width: 100%;
            height: 610px;
            background-image: url("../img/hero-image.svg");
            background-position: 50% 160px;
            background-repeat: no-repeat;
            background-size: 80%;
            max-width: 642px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    & .pic-960 {
        width: 100%;
        max-width: 960px;
        display: flex;
        margin: auto;
    }

    &.cont-1 {
        background-color: white;
        font-size: 1.5rem;
        padding: 90px 24px;
        line-height: 33.6px;
    }

    &.cont-2 {
        font-size: 1.5rem;
        padding: 90px 24px;
        line-height: 33.6px;
        
        & p:nth-child(2) {
            margin-top: 30px;
        }
    }

    &.cont-3 {
        font-size: 1.75rem;
        padding: 90px 24px;
        line-height: 33.6px;
        text-align: center;
        
        & p:nth-child(2) {
            margin-top: 14px;
            line-height: 22.4px;
        }
    }

    &.cont-4 {
        font-size: 2.25rem;
        padding: 90px 24px;
        line-height: 33.6px;
        text-align: center;
        
        & p:nth-child(2) {
            margin-top: 30px;
            line-height: 22.4px;
        }
    }
}

.bg-color {
    &-1 {
        background-color: #06F3F9;
    }

    &-2 {
        background-color: #183E6F;
    }

    &-3 {
        background-color: #01ffda;
    }

    &-4 {
        background-color: #3bcbfd;
    }
}



// .fz-rwd {
//     &-s {
//         font-size: 14px;
//     }

//     &-m {
//         font-size: 16px;
//     }

//     &-l {
//         font-size: 18px;
//     }

//     @media screen and (max-width: 768px) {
//         font-size: 1.2rem;
//         // 768開始吃這個
//     }

//     @media screen and (min-width: 960px) {
//         font-size: 1.4rem;
//         // 960開始吃這個
//     }
// }

.btn {
    &.is-pri {
        padding: 12px 45px;
        background-color: #F5FB6B;
        border-radius: 40px;
        line-height: 21px;
    }
}

